/.bundle

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/initializers/secret_token.rb
config/master.key

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

.powenv
/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/public/assets
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/config/database.yml
/config/credentials.yml.enc

.browserslistrc
/test/*

.framgia-ci-reports/
.framgia-ci-result.temp.yml

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
