<% provide :title, t("signup") %>
<% provide :button_text, t("create_account") %>
<div class="col-md-6 col-md-offset-3">
  <h2><%= t "signup" %></h2>
  <%= render "layouts/user_form" %>
  <%= render "devise/shared/links" %>
</div>

