<% provide :title, t("order.detail") %>
<%= render @order %>
<div class="col-12" style="text-align: right;">
  <% if is_valid_for_canceling? @order %>
    <%= link_to t("order.cancel_order"), cancel_order_path(id: @order.id), method: :post, remote: true,
                class: "btn btn-primary", id: "cancel-btn", data: {confirm: t(:are_you_sure)} %>
  <% end %>
</div>
