/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "/ion-rangeslider/css/ion.rangeSlider";

 #lblCartCount {
  font-size: 12px;
  background: #6f2a0cba;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

#footer {
  margin-top: 60vh;
  width:100%;
}
