<p><%= t :hi %> <%= @email %>!</p>

<p><%= t "devise.mailer.confirmation_instructions.body" %>></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.link"), user_confirmation_url(confirmation_token: @token) %></p>
